# .coveragerc
[run]
source = bitchute
branch = True
parallel = True
omit = 
    */tests/*
    */test_*
    setup.py
    venv/*
    .venv/*
    .tox/*
    */migrations/*
    */__pycache__/*
    */site-packages/*

[report]
precision = 2
show_missing = True
skip_covered = False
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    
    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug:
    if settings\.DEBUG
    
    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
    
    # Don't complain if non-runnable code isn't run:
    if 0:
    if False:
    if __name__ == .__main__.:
    
    # Don't complain about abstract methods
    @(abc\.)?abstractmethod
    
    # Ignore type checking blocks
    if TYPE_CHECKING:
    
    # Ignore ... (ellipsis) in protocols
    \.\.\.

ignore_errors = True

[html]
directory = htmlcov
skip_empty = True
title = BitChute Scraper Coverage Report

[xml]
output = coverage.xml

[json]
output = coverage.json
pretty_print = True